.feature-list-component {
  font-family: 'Quicksand', sans-serif;
  width: 30%;
  min-width: 350px;
  max-width: 550px;
  background: #fff;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #535c68;
  box-sizing: border-box;
  box-shadow: -5px 5px #535c68;
  animation: shadow-animation 5s infinite;
}

.feature-list-component:hover {
  animation: none;
}

.feature-list-title i {
  position: relative;
  float: right;
  color: #fff;
  background: #c0392b;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  animation: icon-jump 2.5s infinite;
}

.feature-list-title {
  font-size: 1.2em;
  margin-bottom: 15px;
  border-bottom: 1px solid #535c68;
}

.feature-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

@keyframes icon-jump {
  0%, 6% { bottom: 0px; }
  1%, 5% { bottom: 3px; }
  2%, 4% { bottom: 6px; }
  3% { bottom: 9px; }
}
