.feature-item-component {
  display: flex;
  flex-direction: row;
  padding: 10px 8px;
  bottom: 0;
  cursor: default;
  transition:
    background 0.2s,
    box-shadow 0.3s,
    bottom 0.4s;
}

.feature-item-component:hover {
  position: relative;
  bottom: 5px;
  background: #ddd;
  box-shadow: -5px 5px #535c68;
  font-weight: bold;
}

.feature-name {
  width: 50%;
  text-align: left;
  padding-right: 10px;
}

.feature-scale {
  width: 50%;
}

.feature-scale-bar {
  background: #c0392b;
  text-align: right;
  color: #fff;
  padding-right: 5px;
}
